html {
  height: 100%;
}

body {
  font-family: Lato;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.fal {
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.fal:after {
  content: '';
  display: block;
  background-image: url(https://i.imgur.com/7mPawQZ.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: contain;
  opacity: 0;
  animation: none;
}

.fal.van-feny {
  background: white;
}

.fal.nincs-feny {
  background: black;
}

.fal.nincs-feny:after {
  animation-name: chtulhu;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-delay: 10s;
}

.gomb {
  background: black;
  color: white;
  border: 2px solid white;
  padding: 10px;
  display: inline-block;
  width: auto;
  min-width: 120px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  transition: all 0.25s ease-in-out;
}

.gomb.vilagos {
  background: white;
  color: black;
  border: 2px solid black;
}

@keyframes chtulhu {
  from {
    opacity: 0;
    transform: scale(0) translateX(50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
.termo.sotet{
  color:aqua
}